 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* debugger */
/* *{
  border: 1px dotted lime ;
  background: black !important;
  transition: 900ms ease-in-out;
} */

.app{
    background: white;
    padding: 20px;
    min-height: 70vh;
    border: 2px solid #efefef;
    box-shadow: 10px 10px 10px #00000017;
    max-width: 80vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}


span.icon {
  width: 14px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: grey;
  margin-left: 5px;
  background: #FFFFFF;
  border: 1px solid #CAD1D5;
  border-radius: 26px;
}

.list{
  list-style: none;
  margin-left:40px;
}

.list .list {
  border-left: 1px dashed #CAD1D5;
}

[data-has-child="false"]{
  opacity: 0;
  pointer-events: none;
} 

[data-bold-title="true"]{
  font-weight: bold;
}

.icon svg{
  transform: scale(.5);
  transform-origin: center;
}

.parent{
  display: flex;
  align-items: center;
}

.input-title{
  margin-left: 10px;
  align-self: center;
  margin-bottom: 3px;
}

/* custom checkbox */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #CAD1D5;
  border-radius: 4px;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
  margin-left: 10px;
}
 input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  border-radius: 26px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #41C3A9;
}
 input[type="checkbox"]:checked::before {
  transform: scale(1) !important;
}


input[data-intermediate="true"]::before {
  box-shadow: inset 1em 1em #ff9901;
}

.heading{
  text-align: center;
}

footer{
  margin-top: auto;
  text-align: center;
}

p{
    word-break: break-all;
}