body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* input[type="checkbox"] {
  position: relative;
} */

span {
  background: #efefef;
  width: 12px;
  height: 12px;
  border: 1px solid grey;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: grey;
}

/* input[type="checkbox"].expanded::before{
  content: '-';
} */

.list{
  list-style: none;
  margin-left: 20px;
}

/* 
[data-has-child="false"].expanded::before{
  display: none;
} */

[data-has-child="false"]{
  opacity: 0;
  pointer-events: none;
}
